<!DOCTYPE html>
<!-- @author Gustavo de Souza Bezerra <gustavo.bezerra@hotmail.com> -->
<!-- Data de criação: 23/09/2016 -->
<html ng-app="template_pedido">
    <head>

        <script>
            var app = angular.module("template_pedido", []);
            app.controller("TemplatePedidoCtrl", function ($scope) {
                $scope.titulo = "Template Pedido";
            });
        </script>
    </head>
    <body class="hold-transition skin-red sidebar-mini" style="background-color: lightgray;" ng-controller="TemplatePedidoCtrl">
        <div id="body" class="hold-transition skin-red sidebar-mini">
                <header class="main-header">
                <a href="index.html" class="logo"> <span class="logo-lg">Marmitex
                        do dia</span>
                </a>
                <nav class="navbar navbar-static-top" role="navigation">
                    <div class="navbar-custom-menu">

                    </div>
                </nav>
            </header>
        </div>
    </body>
</html>
