<!DOCTYPE html>
<!-- @author Gustavo de Souza Bezerra <gustavo.bezerra@hotmail.com> -->
<!-- Data de criação: 12/09/2016 -->
<html ng-app="gerenciarCategorias">
    <head>
        <title>Gerenciar categorias</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <script src="adminLTE/js/jquery-3.0.0.min.js"></script>
        <script src="angularJS/angular.js" type="text/javascript"></script>
        <link rel="stylesheet" href="adminLTE/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="adminLTE/dist/css/AdminLTE.min.css">
        <link rel="stylesheet" href="adminLTE/dist/css/skins/_all-skins.min.css">
        <script src="adminLTE/dist/js/app.min.js" type="text/javascript"></script>

        <script>
            var parseObj = JSON.parse(window.sessionStorage["usuario"]);
            var usuario = parseObj[0];
        </script>

        <script>
            var app = angular.module("gerenciarCategorias", []);
            app.controller("gerenciarCategoriaCtrl", function ($scope) {
                $scope.titulo = "Gerenciar Categoria";

                $scope.sair = function () {
                    window.sessionStorage.clear();
                    window.location.href = "http://localhost:8084/marmitex/login.html";
                };

                $scope.opAlterar = false;

                $scope.consultar = function () {
                    $.ajax({
                        url: "/marmitex/categoria",
                        type: "POST",
                        async: false,
                        data: {
                            operacao: "CONSULTAR"
                        },
                        success: function (data) {
                            console.log("consultou");
                            $scope.categorias = JSON.parse(data);
                        },
                        error: function (err) {
                            console.log(err.statusText);
                        }
                    });
                };

                $scope.excluir = function (categoria) {
                    $.ajax({
                        url: "/marmitex/categoria",
                        type: "POST",
                        async: false,
                        data: {
                            operacao: "EXCLUIR",
                            id: categoria.id
                        },
                        success: function () {
                            $scope.consultar();
                        },
                        error: function (err) {
                            console.log(err.statusText);
                        }
                    });
                };

                $scope.salvar = function (categoria) {
                    $.ajax({
                        url: "/marmitex/categoria",
                        type: "POST",
                        async: false,
                        data: {
                            operacao: "SALVAR",
                            nome: categoria.nome
                        },
                        success: function () {
                            $scope.consultar();
                        },
                        error: function (err) {
                            console.log(err.statusText);
                        }
                    });
                };

                $scope.alterar = function () {
                    var newNome = document.getElementById("txtNome").value;
                    $.ajax({
                        url: "/marmitex/categoria",
                        type: "POST",
                        async: false,
                        data: {
                            operacao: "ALTERAR",
                            id: cat.id,
                            nome: newNome
                        },
                        success: function () {
                            $scope.consultar();
                            alert("Categoria alterada!");
                        },
                        error: function (err) {
                            console.log(err.statusText);
                        }
                    });
                    $scope.cancelar();
                };
                var cat;
                $scope.visualizar = function (categoria) {
                    cat = categoria;
                    document.getElementById("txtNome").value = categoria.nome;
                    $scope.opAlterar = true;
                };

                $scope.cancelar = function () {
                    document.getElementById("txtNome").value = "";
                    $scope.opAlterar = false;
                };
            });
        </script>
    </head>
    <body class="hold-transition skin-red sidebar-mini" style="background-color: lightgray;" ng-controller="gerenciarCategoriaCtrl">
        <div id="body" class="hold-transition skin-blue sidebar-mini" data-ng-init="consultar()">
            <div class="wrapper">
                <div ng-include="'templates/template_admin.html'"></div>

                <!-- Content Wrapper. Contains page content -->
                <div class="content-wrapper">
                    <!-- Main content -->
                    <!-- form start -->
                    <div class="box-body">
                        <div class="col-md-12">
                            <div class="box box-success">
                                <div class="box-body">
                                    <div class="box-header with-border" style="text-align: center;">
                                        <i class="glyphicon glyphicon-apple"></i>
                                        <h3 class="box-title">Cadastrar nova categoria</h3>
                                        <button type="button" class="btn btn-info pull-right" ng-if="opAlterar" name="cancelar" ng-click="cancelar()" id="cancelar">Cancelar</button>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-5">
                                            <label>Nome da categoria</label>
                                            <input type="text" class="form-control" ng-model="categoria.nome" name="txtNome" id="txtNome" placeholder="Nome da categoria">
                                        </div>
                                    </div>
                                    <!-- SEGUNDA LINHA -->

                                    <div class="row">
                                        <div class="form-group col-md-11">
                                            <button type="submit" class="btn btn-success pull-right" ng-if="!opAlterar" name="operacao" id="salvar" ng-disabled="!(categoria.nome)" value="SALVAR" ng-click="salvar(categoria)">Cadastrar</button>
                                            <button type="submit" class="btn btn-warning pull-right" ng-if="opAlterar" id="alterar" name="operacao" value="ALTERAR" ng-click="alterar()">Alterar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- CONSULTAR -->
                    <div class="box-body">
                        <div class="col-md-12">
                            <div class="box box-info">
                                <div class="box-body">
                                    <div class="box-header with-border" style="text-align: center;">
                                        <i class="glyphicon glyphicon-apple"></i>
                                        <h3 class="box-title">Consultar categorias</h3>
                                    </div>
                                    <table class="table table-striped" ng-show="categorias.length > 0">
                                        <tr>
                                            <th>ID da categoria</th>
                                            <th>Nome</th>
                                            <th>Opções</th>
                                        </tr>
                                        <tr ng-repeat="c in categorias">
                                            <td>
                                                <a ng-click="visualizar(c);">
                                                    {{c.id}}
                                                </a>
                                            </td>
                                            <td>{{c.nome}}</td>
                                            <td>
                                                <button type='button' class='btn btn-warning' ng-click='visualizar(c)'>Alterar</button>
                                                <button type='button' class='btn btn-danger' ng-click='excluir(c)'>Excluir</button>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
