<!DOCTYPE html>
<html ng-app="dadosPedido">
    <head>
        <title>Cliente - Meus Dados</title>
        <meta charset="UTF-8">

        <script src="adminLTE/js/jquery-3.0.0.min.js"></script>
        <script src="angularJS/angular.js" type="text/javascript"></script>
        <link href="dist/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href="dist/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css"/>
        <script src="dist/js/bootstrap.min.js" type="text/javascript"></script>
        <link rel="stylesheet" href="adminLTE/dist/css/AdminLTE.min.css">
        <link rel="stylesheet" href="adminLTE/dist/css/skins/_all-skins.min.css">
        <script src="adminLTE/dist/js/app.min.js" type="text/javascript"></script>
        <script src="dist/js/bootbox.min.js"></script>

        <script>
            var parseObj = JSON.parse(window.sessionStorage["usuario"]);
            var parsePedido = JSON.parse(window.sessionStorage["pedido"]);
        </script>

        <script>
            var app = angular.module("dadosPedido", []);
            app.controller("DadosPedidoCtrl", function ($scope) {
                $scope.titulo = "Meus Dados";
                $scope.usuario = parseObj;
                $scope.pedido = parsePedido;

                $scope.sair = function () {
                    window.sessionStorage.clear();
                    window.location.href = "http://localhost:8084/marmitex/login.html";
                };

                $scope.getPedido = function () {
                    $.ajax({
                        url: "/marmitex/pedido",
                        type: "POST",
                        async: false,
                        data: {
                            operacao: "CONSULTAR",
                            id_pedido: $scope.pedido.id
                        },
                        success: function (data) {
                            var aux = JSON.parse(data);
                            $scope.pedido = aux[0];
                        },
                        error: function (err) {
                            alert("Erro ao consultar o pedido!\n" + err);
                        }
                    });
                };

                $scope.getCreditos = function () {
                    $.ajax({
                        url: "/marmitex/cliente",
                        type: "POST",
                        async: false,
                        data: {
                            operacao: "CONSULTAR",
                            login: $scope.usuario.usuario.login,
                            senha: $scope.usuario.usuario.senha
                        },
                        success: function (data) {
                            $scope.usuario = JSON.parse(data);
                            window.sessionStorage.setItem("usuario", data);
                        },
                        error: function () {
                            alert("[ERRO] Nenhum usuário encontrado com o login e a senha informados!");
                        }
                    });
                };

                $scope.getValorTotal = function () {
                    return $scope.pedido.valorTotal.toFixed(2);
                };

                $scope.devolver = function (pedido) {
                    bootbox.prompt({
                        title: "This is a prompt with select!",
                        inputType: 'select',
                        inputOptions: [
                            {
                                text: 'Temperatura',
                                value: '1',
                            },
                            {
                                text: 'Sabor',
                                value: '2',
                            },
                            {
                                text: 'Tempero',
                                value: '3',
                            },
                            {
                                text: 'Entrega',
                                value: '4',
                            },
                            {
                                text: 'Motoboy',
                                value: '5',
                            },
                            {
                                text: 'Embalagem',
                                value: '6',
                            },
                        ],
                        callback: function (result) {
                            if (result > 0) {
                                $.ajax({
                                    url: "/marmitex/justificativa",
                                    type: "POST",
                                    async: false,
                                    data: {
                                        operacao: "SALVAR",
                                        id: result,
                                        id_pedido: pedido.id
                                    },
                                    success: function () {
                                        $.ajax({
                                            url: "/marmitex/pedido",
                                            type: "POST",
                                            async: false,
                                            data: {
                                                operacao: "ALTERAR",
                                                valor_total: pedido.valorTotal,
                                                id_pedido: pedido.id,
                                                status: "Devolvido",
                                                cliente: JSON.stringify(pedido.cliente)
                                            },
                                            success: function (data) {
                                                $scope.usuario.credito.valor = ($scope.usuario.credito.valor + pedido.valorTotal);
                                                window.sessionStorage.setItem("usuario", JSON.stringify($scope.usuario));
                                                $scope.getCreditos();
                                                window.location.href = "http://localhost:8084/marmitex/meus_pedidos.html"
                                            },
                                            error: function (err) {
                                                alert("Erro ao alterar o pedido!\n" + err);
                                            }
                                        });
                                    },
                                    error: function (err) {
                                        alert("Erro ao alterar o pedido!\n" + err);
                                    }
                                });
                            }
                        }
                    });
                };

                $scope.cancelar = function (pedido) {
                    alert("Entrou no cancelar");
//                    $.ajax({
//                        url: "/marmitex/pedido",
//                        type: "POST",
//                        async: false,
//                        data: {
//                            operacao: "ALTERAR",
//                            valor_total: pedido.valorTotal,
//                            id_pedido: pedido.id,
//                            status: "Cancelado",
//                            cliente: JSON.stringify(pedido.cliente)
//                        },
//                        success: function (data) {
//                            $scope.usuario.credito.valor = ($scope.usuario.credito.valor + pedido.valorTotal);
//                            window.sessionStorage.setItem("usuario", JSON.stringify($scope.usuario));
//                            $scope.getCreditos();
//                            window.location.href = "http://localhost:8084/marmitex/meus_pedidos.html"
//                        },
//                        error: function (err) {
//                            alert("Erro ao alterar o pedido!\n" + err);
//                        }
//                    });
                };

                $scope.devolverMarmitex = function (marmitex) {
                    bootbox.prompt({
                        title: "This is a prompt with select!",
                        inputType: 'select',
                        inputOptions: [
                            {
                                text: 'Temperatura',
                                value: '1',
                            },
                            {
                                text: 'Sabor',
                                value: '2',
                            },
                            {
                                text: 'Tempero',
                                value: '3',
                            },
                            {
                                text: 'Entrega',
                                value: '4',
                            },
                            {
                                text: 'Motoboy',
                                value: '5',
                            },
                            {
                                text: 'Embalagem',
                                value: '6',
                            },
                        ],
                        callback: function (result) {
                            if (result > 0) {
                                $.ajax({
                                    url: "/marmitex/marmitex",
                                    type: "POST",
                                    async: false,
                                    data: {
                                        operacao: "EXCLUIR",
                                        marmita: JSON.stringify(marmitex),
                                        status: "Devolvido"
                                    },
                                    success: function (data) {
                                        alert("Marmitex devolvida!");
                                        $scope.getCreditos();
                                        $scope.getPedido();
                                    },
                                    error: function (err) {
                                        console.log(err.statusText);
                                    }
                                });
                            }
                        }
                    });
                };

                $scope.cancelarMarmitex = function (marmitex) {
                    $.ajax({
                        url: "/marmitex/marmitex",
                        type: "POST",
                        async: false,
                        data: {
                            operacao: "EXCLUIR",
                            marmita: JSON.stringify(marmitex),
                            status: "Cancelado"
                        },
                        success: function (data) {
                            alert("Marmitex cancelada!");
                            $scope.getCreditos();
                            $scope.getPedido();
                        },
                        error: function (err) {
                            console.log(err.statusText);
                        }
                    });
                };

                $scope.getPagamento = function (pedido) {
                    var txt = "";
                    for (var i = 0; i < pedido.pagamento.length; i++) {
                        txt += pedido.pagamento[i] + ", ";
                    }
                    return txt.slice(0, -2);
                };

                $scope.getEndereco = function (pedido) {
                    return pedido.endereco.rua + ", " + pedido.endereco.numero + " - " + pedido.endereco.bairro;
                };

                $scope.getDescricao = function (pedido) {
                    var desc = "";
                    for (var j = 0; j < pedido.ingredientes.length; j++) {
                        desc += pedido.ingredientes[j].nome + ", ";
                    }
                    return desc.slice(0, -2);
                };

                $scope.dataAtualFormatada = function () {
                    var data = new Date();
                    var dia = data.getDate();
                    if (dia.toString().length === 1)
                        dia = "0" + dia;
                    var mes = data.getMonth() + 1;
                    if (mes.toString().length === 1)
                        mes = "0" + mes;
                    var ano = data.getFullYear();
                    return dia + "/" + mes + "/" + ano;
                };
            });


        </script>
    </head>
    <body class="hold-transition skin-red sidebar-mini" style="background-color: lightgray;" ng-controller="DadosPedidoCtrl">
        <div id="body" class="hold-transition skin-blue sidebar-mini" data-ng-init="getPedido()">
            <div class="wrapper">
                <div ng-include="'templates/template_cliente.html'"></div>

                <!-- Content Wrapper. Contains page content -->
                <div class="content-wrapper">
                    <!-- Main content -->
                    <!-- form start -->
                    <div class="box-body">
                        <div class="col-md-6 col-md-push-3">
                            <div class="box box-default">
                                <div class="box-body">
                                    <div class="box-header with-border">
                                        <i class="glyphicon glyphicon-edit"></i>
                                        <h3 class="box-title">Dados do pedido</h3>
                                        <button type="button" class="btn btn-danger pull-right" name="devolver" ng-disabled="pedido.dtCriacao !== dataAtualFormatada()" ng-if="pedido.status === 'Entregue'" ng-click="devolver(pedido)" id="excluir">Devolver tudo</button>
                                        <button type="button" class="btn btn-github pull-right" name="devolver" ng-disabled="pedido.dtCriacao !== dataAtualFormatada()" ng-if="pedido.status !== 'Entregue'" ng-click="cancelar(pedido)" id="excluir">Cancelar pedido</button>
                                    </div>
                                    <br>
                                    <!-- PRIMEIRA LINHA -->
                                    <div class="row">
                                        <div class="form-group col-md-6">
                                            <label for="txtId">ID do pedido</label>
                                            <input readonly="true" type="text" class="form-control" ng-model="pedido.id" name="txtId" id="txtId" placeholder="ID">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="txtData">Data do pedido</label>
                                            <input readonly="true" type="tel" class="form-control" ng-model="pedido.dtCriacao" name="txtData" id="txtData" placeholder="Data">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="txtValor">Valor</label>
                                            <input readonly="true" type="text" class="form-control" ng-value="{{getValorTotal()}}" name="txtValor" id="txtValor" placeholder="Valor total">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="txtPagamento">Forma de pagamento</label>
                                            <input readonly="true" type="text" class="form-control" value="{{getPagamento(pedido)}}" name="txtPagamento" id="txtPagamento" placeholder="Forma de pagamento">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="txtStatus">Status</label>
                                            <input readonly="true" type="text" class="form-control" value="{{pedido.status}}" name="txtStatus" id="txtStatus" placeholder="Status">
                                        </div>
                                        <!--                                        <div class="form-group col-md-6" ng-if="pedido.status === 'Entregue' || pedido.status === 'Devolvido'">
                                                                                    <label for="txtEntregador">Entregador</label>
                                                                                    <input readonly="true" type="text" class="form-control" value="{{pedido.status}}" name="txtEntregador" id="txtEntregador" placeholder="Entregador">
                                                                                </div>-->
                                    </div>
                                    <br>
                                    <div class="box-header with-border">
                                        <i class="glyphicon glyphicon-log-in"></i>
                                        <h3 class="box-title">Dados da entrega</h3>
                                    </div>
                                    <!-- QUARTA LINHA -->
                                    <div class="row">
                                        <div class="form-group col-md-10">
                                            <label for="txtEmail">Endereço de entrega</label>
                                            <input readonly="true" type="text" class="form-control" value="{{getEndereco(pedido)}}" name="txtEmail" id="txtEmail" placeholder="E-mail">
                                        </div>
                                    </div>
                                    <br/>
                                    <div class="box-header with-border">
                                        <i class="glyphicon glyphicon-log-in"></i>
                                        <h3 class="box-title">Itens do pedido</h3>
                                    </div>
                                    <table class="table table-striped">
                                        <tr>
                                            <th>ID da marmitex</th>
                                            <th>Itens</th>
                                            <th>Valor</th>
                                            <th></th>
                                        </tr>
                                        <tr ng-repeat="p in pedido.marmitex">
                                            <td>
                                                {{p.id}}
                                            </td>
                                            <td>{{getDescricao(p)}}</td>
                                            <td>{{p.valor| number:2}}</td>
                                            <td>
                                                <button class="btn btn-danger" ng-disabled="pedido.dtCriacao !== dataAtualFormatada()" ng-if="(pedido.status === 'Entregue') && (pedido.marmitex.length > 1)" ng-click="devolverMarmitex(p);">Devolver</button>
                                                <button class="btn btn-github" ng-disabled="pedido.dtCriacao !== dataAtualFormatada()" ng-if="(pedido.status !== 'Entregue') && (pedido.marmitex.length > 1)" ng-click="cancelarMarmitex(p);">Cancelar</button>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div><!-- /.box-body -->
                        </div>
                    </div><!-- /.box-body -->
                </div><!-- /.content-wrapper -->
            </div>
        </div>
    </body>
</html>
