<!DOCTYPE html>
<!-- @author Gustavo de Souza Bezerra <gustavo.bezerra@hotmail.com> -->
<!-- Data de criação: 03/09/2016 -->
<html ng-app="gerenciarEstoque">
    <head>
        <title>Home - Admin</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <script src="adminLTE/js/jquery-3.0.0.min.js"></script>
        <script src="adminLTE/js/jquery.maskMoney.js"></script>
        <script src="angularJS/angular.js" type="text/javascript"></script>
        <link rel="stylesheet" href="adminLTE/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="adminLTE/dist/css/AdminLTE.min.css">
        <link rel="stylesheet" href="adminLTE/dist/css/skins/_all-skins.min.css">
        <script src="adminLTE/dist/js/app.min.js" type="text/javascript"></script>

        <script>
            var app = angular.module("gerenciarEstoque", []);
            app.controller("gerenciarEstoqueCtrl", function ($scope) {
                $scope.titulo = "Gerenciar Estoque";
                var todosOsDias = false;
                $scope.medidas = [
                    {id: 1, descricao: "Litro(s)"},
                    {id: 2, descricao: "Ml(s)"},
                    {id: 3, descricao: "Unidade(s)"},
                    {id: 4, descricao: "Kilo(s)"},
                    {id: 5, descricao: "Grama(s)"}
                ];
                $scope.opAlterar = false;
                $scope.dias = [
                    {
                        id: 10,
                        titulo: "Todos os dias"
                    },
                    {
                        id: 1,
                        titulo: "Segunda-feira"
                    },
                    {
                        id: 2,
                        titulo: "Terça-feira"
                    },
                    {
                        id: 3,
                        titulo: "Quarta-feira"
                    },
                    {
                        id: 4,
                        titulo: "Quinta-feira"
                    },
                    {
                        id: 5,
                        titulo: "Sexta-feira"
                    },
                    {
                        id: 6,
                        titulo: "Sabado"
                    },
                    {
                        id: 0,
                        titulo: "Domingo"
                    }
                ];

                $scope.sair = function () {
                    window.sessionStorage.clear();
                    window.location.href = "http://localhost:8084/marmitex/login.html";
                };

                $scope.montarPagina = function () {
                    $scope.consultar();

                    $.ajax({
                        url: "/marmitex/categoria",
                        type: "POST",
                        async: false,
                        data: {
                            operacao: "CONSULTAR"
                        },
                        success: function (data) {
                            $scope.categorias = JSON.parse(data);
                        },
                        error: function (err) {
                            console.log(err.statusText);
                        }
                    });
                };

                $scope.consultar = function () {
                    $.ajax({
                        url: "/marmitex/ingrediente",
                        type: "POST",
                        async: false,
                        data: {
                            operacao: "CONSULTAR"
                        },
                        success: function (data) {
                            console.log("consultou");
                            $scope.recursos = JSON.parse(data);
                        },
                        error: function (err) {
                            console.log(err.statusText);
                        }
                    });
                };

                $scope.excluir = function (ingrediente) {
                    $.ajax({
                        url: "/marmitex/ingrediente",
                        type: "POST",
                        async: false,
                        data: {
                            operacao: "EXCLUIR",
                            id: ingrediente.id
                        },
                        success: function () {
                            $scope.consultar();
                        },
                        error: function (err) {
                            console.log(err.statusText);
                        }
                    });
                };

                $scope.salvar = function (ingrediente) {
                    var dias = document.getElementsByName("ck_dias");
                    var texto = "";
                    for (var i = 0; i < dias.length; i++) {
                        if (dias[i].checked){
                            texto += dias[i].value+";";
                        }
                    }
                    if(texto.length > 0){
                        texto = texto.substr(0, texto.length-1);
                    }
                    $.ajax({
                        url: "/marmitex/ingrediente",
                        type: "POST",
                        async: false,
                        data: {
                            operacao: "SALVAR",
                            nome: ingrediente.nome,
                            quantidade: ingrediente.quantidade,
                            medida: ingrediente.medida,
                            vencimento: ingrediente.dtVencimento,
                            categoria: ingrediente.categoria.nome,
                            id_categoria: ingrediente.categoria.id,
                            valor: ingrediente.valor,
                            dias: texto
                        },
                        success: function () {
                            $scope.consultar();
                            $scope.cancelar();
                        },
                        error: function (err) {
                            console.log(err.statusText);
                        }
                    });
                };

                $scope.visualizar = function (ingrediente) {
                    var ds = document.getElementsByName("ck_dias");
                    for (var i = 0; i < ds.length; i++) {
                        ds[i].checked = false;
                    }
                    for (var i = 0; i < ds.length; i++) {
                        for (var j = 0; j < ingrediente.dias.length; j++) {
                            if(ds[i].value === "Segunda-feira" && ingrediente.dias[j] === "SEGUNDA"){
                                ds[i].checked = true;
                            }
                            else if(ds[i].value === "Terça-feira" && ingrediente.dias[j] === "TERÇA"){
                                ds[i].checked = true;
                            }
                            else if(ds[i].value === "Quarta-feira" && ingrediente.dias[j] === "QUARTA"){
                                ds[i].checked = true;
                            }
                            else if(ds[i].value === "Quinta-feira" && ingrediente.dias[j] === "QUINTA"){
                                ds[i].checked = true;
                            }
                            else if(ds[i].value === "Sexta-feira" && ingrediente.dias[j] === "SEXTA"){
                                ds[i].checked = true;
                            }
                            else if(ds[i].value === "Sabado" && ingrediente.dias[j] === "SABADO"){
                                ds[i].checked = true;
                            }
                            else if(ds[i].value === "Domingo" && ingrediente.dias[j] === "DOMINGO"){
                                ds[i].checked = true;
                            }
                        }
                    }
                    $scope.opAlterar = true;
                    $scope.recurso = angular.copy(ingrediente);
                    document.getElementById("txtVencimento").value = converterData(ingrediente.dtVencimento);
                };

                $scope.alterar = function (ingrediente) {
                    var dias = document.getElementsByName("ck_dias");
                    var texto = "";
                    for (var i = 0; i < dias.length; i++) {
                        if (dias[i].checked){
                            texto += dias[i].value+";";
                        }
                    }
                    if(texto.length > 0){
                        texto = texto.substr(0, texto.length-1);
                    }
                    $.ajax({
                        url: "/marmitex/ingrediente",
                        type: "POST",
                        async: false,
                        data: {
                            operacao: "ALTERAR",
                            nome: ingrediente.nome,
                            quantidade: ingrediente.quantidade,
                            medida: ingrediente.medida,
                            vencimento: ingrediente.dtVencimento,
                            categoria: ingrediente.categoria.nome,
                            id_categoria: ingrediente.categoria.id,
                            valor: ingrediente.valor,
                            id: ingrediente.id,
                            dias: texto
                        },
                        success: function () {
                            alert("Recurso alterado!");
                            $scope.consultar();
                            $scope.cancelar();
                        },
                        error: function (err) {
                            console.log(err.statusText);
                        }
                    });
                };

                $scope.selecionouDia = function (aux) {
                    var dias = document.getElementsByName("ck_dias");
                    if (aux.dia.titulo === "Todos os dias" && todosOsDias) {
                        for (var i = 0; i < dias.length; i++) {
                            dias[i].checked = false;
                        }
                        todosOsDias = false;
                    } else if (aux.dia.titulo === "Todos os dias" && !todosOsDias) {
                        for (var i = 0; i < dias.length; i++) {
                            dias[i].checked = true;
                        }
                        todosOsDias = true;
                    }
                };

                $scope.cancelar = function () {
                    document.getElementById("txtNome").value = "";
                    document.getElementById("categoria")[0].selected = true;
                    document.getElementById("medida")[0].selected = true;
                    document.getElementById("txtQuantidade").value = "";
                    document.getElementById("txtValor").value = "";
                    document.getElementById("txtVencimento").value = "";
                    $scope.opAlterar = false;
                    delete $scope.recurso;
                };

                $scope.getQtde = function (r) {
                    if (r.medida === 'Unidade(s)') {
                        return r.quantidade;
                    } else {
                        return r.quantidade.toFixed(3);
                    }
                };
            });

            function converterData(data) {
                var newdate = data.split("/").reverse().join("-");
                return newdate;
            }

        </script>
    </head>
    <body class="hold-transition skin-red sidebar-mini" style="background-color: lightgray;" ng-controller="gerenciarEstoqueCtrl">
        <div id="body" class="hold-transition skin-blue sidebar-mini" data-ng-init="montarPagina()">
            <div class="wrapper">
                <div ng-include="'templates/template_admin.html'"></div>

                <!-- Content Wrapper. Contains page content -->
                <div class="content-wrapper">
                    <!-- Main content -->
                    <!-- form start -->
                    <div class="box-body">
                        <div class="col-md-12">
                            <div class="box box-success">
                                <div class="box-body">
                                    <div class="box-header with-border" style="text-align: center;">
                                        <i class="glyphicon glyphicon-apple"></i>
                                        <h3 class="box-title">Cadastrar novo recurso</h3>
                                        <button type="button" class="btn btn-info pull-right" ng-if="opAlterar" name="cancelar" ng-click="cancelar()" id="cancelar">Cancelar</button>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-6">
                                            <label>Nome do novo recurso</label>
                                            <input type="text" class="form-control" ng-model="recurso.nome" name="txtNome" id="txtNome" placeholder="Nome do novo recurso">
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label for="categoria">Categoria:</label>
                                            <select class="form-control" id="categoria" ng-model="recurso.categoria.id"
                                                    ng-options="categoria.id as categoria.nome for categoria in categorias">
                                                <option value="">Selecione uma categoria</option>
                                            </select>
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label for="txtVencimento">Data de validade:</label>
                                            <input type="date" id="txtVencimento" ng-model="recurso.dtVencimento" class="form-control"/>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="form-group col-md-3">
                                            <label for="txtQuantidade">Quantidade</label>
                                            <input type="text" class="form-control" ng-model="recurso.quantidade" name="txtQuantidade" id="txtQuantidade" placeholder="Quantidade">
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label for="medida">Medida:</label>
                                            <select class="form-control" id="medida" ng-model="recurso.medida"
                                                    ng-options="medida.descricao as medida.descricao for medida in medidas">
                                                <option value="">Selecione uma medida</option>
                                            </select>
                                        </div>                                        
                                        <div class="form-group col-md-3">
                                            <label for="txtQuantidade">Valor</label>
                                            <input type="text" class="form-control" ng-model="recurso.valor" name="txtValor" id="txtValor" placeholder="R$">
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label for="categoria">Dias da semana:</label>
                                            <div class="form-group">
                                                <div class="checkbox" ng-repeat="dia in dias">
                                                    <label>
                                                        <input type="checkbox" value="{{dia.titulo}}" id="dia_{{dia.id}}" name="ck_dias" ng-click="selecionouDia(this)">
                                                        {{dia.titulo}}
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div> 
                                    <!-- SEGUNDA LINHA -->
                                    <div class="row">
                                        <div class="form-group col-md-11">
                                            <button type="submit" class="btn btn-success pull-right" name="operacao" id="salvar" ng-if="!opAlterar" ng-disabled="!(recurso.nome && recurso.categoria && recurso.quantidade && recurso.medida && recurso.dtVencimento && recurso.valor)" value="SALVAR" ng-click="salvar(recurso)">Cadastrar</button>
                                            <button type="submit" class="btn btn-warning pull-right" ng-if="opAlterar" id="alterar" name="operacao" value="ALTERAR" ng-click="alterar(recurso)">Alterar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- CONSULTAR -->
                    <div class="box-body">
                        <div class="col-md-12">
                            <div class="box box-success">
                                <div class="box-body">
                                    <div class="box-header with-border" style="text-align: center;">
                                        <i class="glyphicon glyphicon-apple"></i>
                                        <h3 class="box-title">Consultar recursos</h3>
                                    </div>
                                    <table class="table table-striped" ng-show="recursos.length > 0">
                                        <tr>
                                            <th>ID do recurso</th>
                                            <th>Nome</th>
                                            <th>Categoria</th>
                                            <th>Quantidade</th>
                                            <th>Medida</th>
                                            <th>Data de validade</th>
                                            <th>Valor</th>
                                            <th>Opções</th>
                                        </tr>
                                        <tr ng-repeat="r in recursos">
                                            <td>
                                                <a ng-click="visualizar(r)">
                                                    {{r.id}}
                                                </a>
                                            </td>
                                            <td>{{r.nome}}</td>
                                            <td>{{r.categoria.nome}}</td>
                                            <td>{{getQtde(r)}}</td>
                                            <td>{{r.medida}}</td>
                                            <td>{{r.dtVencimento}}</td>
                                            <td>R${{r.valor| number:2}}</td>
                                            <td>
                                                <button type='button' class='btn btn-warning' ng-click='visualizar(r)'>Alterar</button>
                                                <button type='button' class='btn btn-danger' ng-click='excluir(r)'>Excluir</button>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>