<!-- @author Gustavo de Souza Bezerra <gustavo.bezerra@hotmail.com -->
<!-- @date 20/08/2016 -->
<html ng-app="montarMarmitex">
    <head>
        <title>Montar marmitex</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <script src="adminLTE/js/jquery-3.0.0.min.js"></script>
        <script src="angularJS/angular.js" type="text/javascript"></script>
        <link rel="stylesheet" href="adminLTE/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="adminLTE/dist/css/AdminLTE.min.css">
        <link rel="stylesheet" href="adminLTE/dist/css/skins/_all-skins.min.css">
        <script src="adminLTE/dist/js/app.min.js" type="text/javascript"></script>

        <script>
            var ingredientes = document.getElementsByName("ingredientes");
            var ingredientesCheckados = new Array();
            var test = window.sessionStorage["teste"];
            //alert(test);
            var app = angular.module("montarMarmitex", []);
            app.controller("marmitexCtrl", function ($scope) {
                $scope.titulo = "Montar marmitex";
                $scope.preco = 0;

                $scope.consultarTudo = function () {
                    $scope.consultarCategorias();
                    $scope.consultarIngredientes();
                };

                $scope.consultarCategorias = function () {
                    $.ajax({
                        url: "/marmitex/categoria",
                        type: "POST",
                        async: false,
                        data: {
                            operacao: "CONSULTAR"
                        },
                        success: function (data) {
                            $scope.categorias = JSON.parse(data);
                        },
                        error: function (err) {
                            console.log(err.statusText);
                        }
                    });
                };

                $scope.consultarIngredientes = function () {
                    $.ajax({
                        url: "/marmitex/ingrediente",
                        type: "POST",
                        async: false,
                        data: {
                            operacao: "CONSULTAR"
                        },
                        success: function (data) {
                            $scope.recursos = JSON.parse(data);
                        },
                        error: function (err) {
                            console.log(err.statusText);
                        }
                    });
                };

                $scope.verificar = function () {
                    var checks = new Array();

                    for (var i = 0; i < $scope.categorias.length; i++) {
                        var teste = document.getElementsByName($scope.categorias[i].nome);
                        for (var j = 0; j < teste.length; j++) {
                            if (teste[j].checked === true) {
                                checks.push(teste[j]);
                            }
                        }
                    }

                    if ($scope.preco !== 0) {
                        window.sessionStorage.clear();
                        window.sessionStorage.setItem("marmitex", JSON.stringify(ingredientesCheckados));
                        window.sessionStorage.setItem("preco", angular.copy($scope.preco));                        
                    }
                    window.location.href = "http://localhost:8084/marmitex/login.html";
                };

                $scope.clicou = function (recurso) {
                    var r = document.getElementById(recurso.nome);
                    if (r.checked === true) {
                        ingredientesCheckados.push(recurso);
                        $scope.preco += recurso.valor;
                    } else {
                        for (var i = ingredientesCheckados.length - 1; i >= 0; i--) {
                            if (ingredientesCheckados[i] === recurso) {
                                ingredientesCheckados.splice(i, 1);
                                break;
                            }
                        }
                        $scope.preco -= recurso.valor;
                    }
                };

            });
        </script>
    </head>
    <body class="hold-transition skin-blue sidebar-mini" style="background-color: lightgray" ng-controller="marmitexCtrl">
        <div id="body" class="hold-transition skin-red sidebar-mini" data-ng-init="consultarTudo()">
            <header class="main-header">
                <a href="index.html" class="logo"> <span class="logo-lg">Marmitex
                        do dia</span>
                </a>
                <nav class="navbar navbar-static-top" role="navigation">
                    <div class="navbar-custom-menu">
                    </div>
                </nav>
            </header>
            <div class="content">
                <div class="box-body">
                    <!-- PÁGINA -->
                    <form role="form" method="post" action="/ServletCliente">
                        <div class="col-md-10 col-md-offset-1">
                            <div class="box box-default">
                                <div class="box-body">
                                    <div class="box-header with-border">
                                        <i class="fa fa-user"></i>
                                        <h3 class="box-title">Opções do dia</h3>
                                    </div><!-- /.box-header -->
                                    <br>
                                    <!-- OPÇÕES DO DIA -->
                                    <div class="row">
                                        <button type="button" class="btn btn-primary col-md-1 pull-left col-md-push-1">Opção 1</button>
                                        <button type="button" class="btn btn-primary col-md-1 pull-left col-md-push-2">Opção 2</button>
                                        <button type="button" class="btn btn-primary col-md-1 pull-left col-md-push-3">Opção 3</button>
                                        <button type="button" class="btn btn-primary col-md-1 pull-left col-md-push-4">Opção 4</button>
                                        <button type="button" class="btn btn-primary col-md-1 pull-left col-md-push-5">Opção 5</button>
                                    </div>
                                    <br/>
                                    <div class="row">
                                        <label class="text-green text-bold col-md-12 col-md-offset-5"><h3>Valor do pedido: R${{preco| number: 2}}</h3></label>
                                    </div>
                                    <div id="escolhas" class="row" ng-repeat="categoria in categorias">
                                        <div class="form-group col-md-6" >
                                            <div class="box-header with-border">
                                                <i class="glyphicon glyphicon-asterisk"></i>
                                                <h3 class="box-title">{{categoria.nome}}</h3>
                                            </div><!-- /.box-header -->
                                            <div class="form-group">
                                                <div class="checkbox" ng-repeat="recurso in recursos" ng-if="recurso.categoria.nome === categoria.nome">
                                                    <label>
                                                        <input type="checkbox" ng-disabled="!((recurso.medida !== 'Unidade(s)' && recurso.quantidade > 0.150) || (recurso.medida === 'Unidade(s)' && recurso.quantidade > 1))" ng-click="clicou(recurso)" name="{{categoria.nome}}" id="{{recurso.nome}}">
                                                        {{recurso.nome}}
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <br>
                                    <div class="row">
                                        <button type="button" ng-click="verificar()" class="btn btn-google col-md-2 col-md-offset-5"><h4>Pedir marmitex</h4></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div><!-- FIM DA PÁGINA -->
            </div><!-- /.content-wrapper -->
        </div>
    </body>
</html>
