<!DOCTYPE html>
<!-- @author Gustavo de Souza Bezerra <gustavo.bezerra@hotmail.com -->
<!-- @date 20/08/2016 -->
<html ng-app="meusPedidos">
    <head>
        <title>Cliente - Meus pedidos</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <script src="adminLTE/js/jquery-3.0.0.min.js"></script>
        <script src="angularJS/angular.js" type="text/javascript"></script>
        <link rel="stylesheet" href="adminLTE/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="adminLTE/dist/css/AdminLTE.min.css">
        <link rel="stylesheet" href="adminLTE/dist/css/skins/_all-skins.min.css">
        <script src="adminLTE/dist/js/app.min.js" type="text/javascript"></script>

        <script>
            var app = angular.module("meusPedidos", []);
            app.controller("MeusPedidosCtrl", function ($scope) {
                $scope.titulo = "Meus Pedidos";
                $scope.pedidos = [
                    {id: '1', data: '25/08/2016', descricao: 'Arroz, Feijão, Salada e Frango', status: '1'},
                    {id: '2', data: '23/08/2016', descricao: 'Arroz, Feijão, Salada e Frango', status: '2'},
                    {id: '3', data: '22/08/2016', descricao: 'Arroz, Feijão, Salada e Frango', status: '3'},
                    {id: '4', data: '22/08/2016', descricao: 'Arroz, Feijão, Salada e Frango', status: '4'}
                ];

                $scope.Devolver = function (pedido) {
                    alert("Devolver o pedido de ID " + pedido.id);
                }

                $scope.verDetalhes = function (pedido) {
                    alert("Ver detalhes do pedido " + pedido.id);
                }

            });
        </script>
    </head>
    <body class="hold-transition skin-red sidebar-mini" style="background-color: lightgray" ng-controller="MeusPedidosCtrl">
        <div id="body" class="hold-transition skin-blue sidebar-mini">
            <div class="wrapper">
                <div ng-include="'templates/template_cliente.html'"></div>

                <!-- Content Wrapper. Contains page content -->
                <div class="content-wrapper">
                    <!-- Main content -->
                    <!-- form start -->
                    <div class="box-body">
                        <div class="col-md-12">
                            <div class="box box-default">
                                <div class="box-body">
                                    <div class="box-header with-border" style="text-align: center;">
                                        <i class="glyphicon glyphicon-cutlery"></i>
                                        <h3 class="box-title">Meus pedidos</h3>
                                    </div>
                                    <table class="table table-striped" ng-show="pedidos.length > 0">
                                        <tr>
                                            <th>ID do pedido</th>
                                            <th>Data do pedido</th>
                                            <th>Descrição do pedido</th>
                                            <th>Status</th>
                                            <th></th>
                                        </tr>
                                        <tr ng-repeat="pedido in pedidos">
                                            <td>
                                                <a ng-click="verDetalhes(pedido);">
                                                    {{pedido.id}}
                                                </a>
                                            </td>
                                            <td>{{pedido.data}}</td>
                                            <td>{{pedido.descricao}}</td>
                                            <td>
                                                <!-- TODO: Se o status for "Aberto", aparecer a opção de "Preparar" -->
                                                <!-- TODO: Se o status for "A caminho", aparecer as opções de "Entregue!" e "Cancelar" -->
                                                <!-- TODO: Pensar em uma solução para conseguir cancelar um pedido em qualquer fase antes de "A caminho" -->
                                                <label class='label label-warning' ng-if="pedido.status === '1'">Em preparo</label>
                                                <label class='label label-info' ng-if="pedido.status === '2'">A caminho</label>
                                                <label class='label label-success' ng-if="pedido.status === '3'">Entregue</label>
                                                <label class='label label-primary' ng-if="pedido.status === '4'">Aberto</label>
                                            </td>
                                            <td>
                                                <button class="btn btn-info" ng-disabled="pedido.status !== '3'" ng-click="Devolver(pedido);">Devolver</button>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div><!-- /.box-body -->
                        </div>
                    </div><!-- /.box-body -->
                </div><!-- /.content-wrapper -->
            </div>
        </div>
    </body>
</html>
