<!DOCTYPE html>
<!-- @author Gustavo de Souza Bezerra <gustavo.bezerra@hotmail.com> -->
<!-- Data de criação: 26/09/2016 -->
<html ng-app="pedidosFinalizados">
    <head>
        <title>Todos os pedidos finalizados</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <script src="adminLTE/js/jquery-3.0.0.min.js"></script>
        <script src="angularJS/angular.js" type="text/javascript"></script>
        <link rel="stylesheet" href="adminLTE/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="adminLTE/dist/css/AdminLTE.min.css">
        <link rel="stylesheet" href="adminLTE/dist/css/skins/_all-skins.min.css">
        <script src="adminLTE/dist/js/app.min.js" type="text/javascript"></script>

        <script>
            var parseObj = JSON.parse(window.sessionStorage["usuario"]);
        </script>

        <script>
            var app = angular.module("pedidosFinalizados", []);
            app.controller("PedidosFinalizadosCtrl", function ($scope) {
                $scope.titulo = "Pedidos Abertos";
                $scope.usuario = parseObj;
                $scope.entregar = false;
                $scope.id_pedido_entregar;

                $scope.buscarEntregadores = function (pedido) {
                    $scope.entregar = true;
                    $scope.id_pedido_entregar = pedido.id;

                    $.ajax({
                        url: "/marmitex/entregador",
                        type: "POST",
                        async: false,
                        data: {
                            operacao: "CONSULTAR"
                        },
                        success: function (data) {
                            console.log("consultou");
                            $scope.entregadores = JSON.parse(data);
                        },
                        error: function (err) {
                            console.log(err.statusText);
                        }
                    });
                };

                $scope.getPedidos = function () {
                    $.ajax({
                        url: "/marmitex/pedido",
                        type: "POST",
                        async: false,
                        data: {
                            operacao: "CONSULTAR",
                            id_cliente: $scope.usuario.id
                        },
                        success: function (data) {
                            $scope.pedidos = JSON.parse(data);
                        },
                        error: function (err) {
                            alert("Erro ao consultar seus pedidos!\n" + err);
                        }
                    });
                };

                $scope.alterar = function (pedido, status) {
                    if (status === 'A caminho') {
                        $.ajax({
                        url: "/marmitex/pedido",
                        type: "POST",
                        async: false,
                        data: {
                            operacao: "ALTERAR",
                            id_pedido: pedido.id,
                            status: status,
                            entregador: pedido.entregador
                        },
                        success: function (data) {
                            $scope.id_pedido_entregar=0;
                            $scope.entregar = false;
                            $scope.getPedidos();
                        },
                        error: function (err) {
                            alert("Erro ao alterar o pedido!\n" + err);
                        }
                    });
                    } else {
                        $.ajax({
                            url: "/marmitex/pedido",
                            type: "POST",
                            async: false,
                            data: {
                                operacao: "ALTERAR",
                                id_pedido: pedido.id,
                                status: status
                            },
                            success: function (data) {
                                $scope.getPedidos();
                            },
                            error: function (err) {
                                alert("Erro ao alterar o pedido!\n" + err);
                            }
                        });
                    }

                };

                $scope.getDescricao = function (pedido) {
                    var desc = "";
                    for (var i = 0; i < pedido.marmitex.length; i++) {
                        desc += "Marmitex "+(i+1)+":";
                        for (var j = 0; j < pedido.marmitex[i].ingredientes.length; j++) {
                            desc += pedido.marmitex[i].ingredientes[j].nome + ", ";
                        }
                        desc = desc.slice(0, -2);
                        desc += "; ";
                    }                    
                    return desc;
                };
                
                $scope.getEndereco = function(pedido){
                    return pedido.endereco.rua+", "+pedido.endereco.numero+" - "+pedido.endereco.bairro;
                };

                $scope.sair = function () {
                    window.sessionStorage.clear();
                    window.location.href = "http://localhost:8084/marmitex/login.html";
                };

                $scope.dataAtualFormatada = function () {
                    var data = new Date();
                    var dia = data.getDate();
                    if (dia.toString().length === 1)
                        dia = "0" + dia;
                    var mes = data.getMonth() + 1;
                    if (mes.toString().length === 1)
                        mes = "0" + mes;
                    var ano = data.getFullYear();
                    return dia + "/" + mes + "/" + ano;
                };
            });
        </script>
    </head>
    <body class="hold-transition skin-red sidebar-mini" style="background-color: lightgray;" ng-controller="PedidosFinalizadosCtrl">
        <div id="body" class="hold-transition skin-blue sidebar-mini" data-ng-init="getPedidos()">
            <div class="wrapper">
                <div ng-include="'templates/template_admin.html'"></div>

                <!-- Content Wrapper. Contains page content -->
                <div class="content-wrapper">
                    <!-- Main content -->                    

                    <div class="box-body">
                        <div class="col-md-12">
                            <div class="box box-success">
                                <div class="box-body">
                                    <div class="box-header with-border" style="text-align: center;">
                                        <i class="glyphicon glyphicon-check"></i>
                                        <h3 class="box-title">Pedidos finalizados</h3>
                                    </div>
                                    <table class="table table-striped" ng-show="pedidos.length > 0">
                                        <tr>
                                            <th>ID do pedido</th>
                                            <th>Data do pedido</th>
                                            <th>Descrição do pedido</th>
                                            <th>Endereço de entrega</th>
                                            <th>Status</th>
                                            <th></th>
                                        </tr>
                                        <tr ng-repeat="pedido in pedidos" ng-if="(pedido.status === 'Entregue' || pedido.status === 'Cancelado' || pedido.status === 'Devolvido')">
                                            <td>
                                                <a ng-click="verDetalhes(pedido);">
                                                    {{pedido.id}}
                                                </a>
                                            </td>
                                            <td>{{pedido.dtCriacao}}</td>
                                            <td>{{getDescricao(pedido)}}</td>
                                            <td>{{getEndereco(pedido)}}</td>
                                            <td>                                                
                                                <label class='label label-success' ng-if="pedido.status === 'Entregue'">Entregue</label>
                                                <label class='label btn-github' ng-if="pedido.status === 'Cancelado'">Cancelado</label>
                                                <label class='label btn-danger' ng-if="pedido.status === 'Devolvido'">Devolvido</label>
                                            </td>
                                            <td>
                                                <button class="btn btn-danger" ng-disabled="pedido.dtCriacao !== dataAtualFormatada()" ng-if="pedido.status === 'Entregue'" ng-click="Devolver(pedido);">Devolver</button>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div><!-- /.box-body -->
                </div> <!-- content wraper -->
            </div> <!-- wrapper -->
        </div>
    </body>
</html>
